@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&family=Source+Sans+Pro:wght@600&display=swap');

body{
    font-family: 'Exo 2', sans-serif;
    font-weight:800;
    background-color: #F3F7F9 ;
}


nav {
    background-color: #2C405C;
    font-family: 'Exo 2', sans-serif;
    font-weight:800;
    
}

nav li{
    margin: 0 10px 0 10px;
}

.nodata{
    text-align: center;
}
.nodata h1{
    font-size: 1.5vw;
    color: #2c405c;
}
.container-name{
    margin-top: 70px;
    text-align: center;
}

.container-name h1{
    margin-top: -30px;
    color: #2C405C;
    font-size: 10vw;
}

.container-name h2{
    margin-top: -40px;
    color: #3AAFEB;
    font-size: 4vw;
}

.container-name p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #1F7FB3;
}

/* LOGIN AND REGISTER MODAL */

.modal-login {
    width: 450px;
}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-title {
    text-align: center;
    font-size: 26px;
    color: #2C405C   !important;
}
.modal-login  .form-group {
    position: relative;
    margin-bottom: 15px;
}
.modal-login i {
    position: absolute;
    left: 13px;
    top: 11px;
    font-size: 18px;
    color: #2C405C;
}
.modal-login .form-control {
    padding-left: 40px;
}
.modal-login .form-control:focus {
    border-color: #2C405C;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px; 
}
.modal-login .hint-text {
    text-align: center;
    padding-top: 10px;
}
.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-login .btn, .modal-login .btn:active {	
    border: none;
    background: #2C405C !important;
    line-height: normal;
    color:#F3F7F9 ;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #3AAFEB  !important;
    color:#2C405C ;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.modal-login .modal-content{
    background: #F3F7F9 ;
    border-color: #2C405C;
}

/* END LOGIN AND REGISTER MODAL */

.page-title{
    text-align: center;
    margin: 40px;
    color:#2C405C;
}

/* -----------EONET CARDS---------------- */
#eonet-list .card-title{
    text-align: center;
    height: 50px;
    padding: 10px;
}
#eonet-list .card-title a{
    font-family: 'Exo 2', sans-serif;
    font-weight:800;
    color:#f3f7f9 ;
    text-decoration: none;
    text-align: center;
    font-size:1.6vw;
}
#eonet-list .card-body{
    padding: 30px;
    font-size: 1.2vw;
}
#eonet-list .card-body p{
    color: #cedbe2;
    margin: 0;
}
#eonet-list .card-body label{
    color: #3aafeb;
}
#eonet-list .card {
    background-color: #2c405c;
    float: left;
    width:410px;
    height:300px;
    margin:10px;
    
}
/* -----------END EONET CARDS---------------- */

/* -----------NEWS CARDS---------------- */

#news-list .card-img-top {
    object-fit: cover;
    width:400px;
    height:200px;
} 
#news-list .card-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;
    color: #3aafeb;
}
#news-list .card {
    background-color: #2c405c;
    float: left;
    width:400px;
    height:500px;
    margin:10px;
} 

#news-list .card-title{
    text-align: left;
}
#news-list .card-title a{
    font-family: 'Exo 2', sans-serif;
    font-weight:800;
    color:#f3f7f9;
    text-decoration: none;
    text-align: center;
    font-size:1.6vw;
}
#news-list .card-title2 a{
    font-family: 'Exo 2', sans-serif;
    font-weight:600;
    color:#f3f7f9b7;
    text-decoration: none;
    text-align: center;
    font-size:1vw;
}

#category-drop{
    margin: 30px;
}

/* -----------END NEWS CARDS---------------- */
/* -----------GLOBALGIVING CARDS---------------- */

#globalgiving-list .card-img-top {
    object-fit: cover;
    width:400px;
    height:200px;
} 
#globalgiving-list .card-text {
    color: #3aafeb;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;
}
#globalgiving-list .card {
    background-color: #2c405c;
    float: left;
    width:400px;
    height:500px;
    margin:10px;
} 

#globalgiving-list .card-title{
    text-align: left;
}

#globalgiving-list .card-title a{
    font-family: 'Exo 2', sans-serif;
    font-weight:800;
    color:#f3f7f9;
    text-decoration: none;
    text-align: center;
    font-size:1.6vw;
}

#globalgiving-list .card-title2 a{
    font-family: 'Exo 2', sans-serif;
    font-weight:600;
    color:#f3f7f9b7;
    text-decoration: none;
    text-align: center;
    font-size:1vw;
}


/* -----------END GLOBALGIVING CARDS---------------- */

#bookmark{
    float: right;
    font-size: 30px;
}
i{
    color: #f3f7f9;
}
span i:hover{
    color:#3aafeb;
}

.fa-trash i{
    color: #c05f5f;
}
/* ---------------------ACCOUNT-------------------- */
#myaccNav ul{
    margin-top: 40px;
    /* border: 1px solid #6930c3; */
}
#myaccNav li{
    border: 2px solid #3aafeb ;
    background-color: #2c405c ;
}

#myaccNav li:hover{
    border: 2px solid #f3f7f9 ;
    background-color: #3aafeb ;
}

#myaccNav a{
    font-family: 'Source Sans Pro', sans-serif;;
    font-weight: 600;
    color: #f3f7f9 ;
    font-size: 18px;
}

/* ---------------- END ACCOUNT----------------------- */